<div class="row" ng-controller="BookEditPageCtrl as bookEditPageCtrl">
    <h1 class="page-header">{{bookEditPageCtrl.pageTitle}}</h1>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <form role="form">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" ng-model="bookEditPageCtrl.book.name" title="Name"/>
                    </div>
                    <div class="form-group">
                        <label>Publish Year</label>
                        <input type="number" class="form-control bfh-number"
                               ng-model="bookEditPageCtrl.book.publishYear" title="Publish Year"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>