<!-- DataTables CSS -->
<link href="vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="vendor/angular-datatables/css/angular-datatables.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

<div class="row modal-demo" ng-controller="BookListPageCtrl as bookListPageCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-default"
                    ng-click="bookListPageCtrl.hideSearch = !bookListPageCtrl.hideSearch">Show Search
            </button>
        </div>
        <div class="panel-body" uib-collapse="bookListPageCtrl.hideSearch">
            <bookedit book="bookListPageCtrl.searchObject"></bookedit>
        </div>
    </div>
    <table datatable="" dt-options="bookListPageCtrl.dtOptions" dt-instance="bookListPageCtrl.dtInstanceCallback" dt-columns="bookListPageCtrl.dtColumns"
           class="display" cellspacing="0" width="100%">
    </table>
    <script type="text/ng-template" id="DeleteConfirm.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Delete Entity</h3>
        </div>
        <div class="modal-body" id="modal-body">
            Are you sure you want to delete?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="deleteModelCtrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="deleteModelCtrl.cancel()">Cancel</button>
        </div>
    </script>
</div>
<!-- DataTables JavaScript -->
<script src="vendor/datatables-responsive/dataTables.responsive.js"></script>